<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<!-- 启用详细错误信息 -->
    	<httpErrors errorMode="Detailed" />
		<handlers>
            <add name="flask_Fastcgi" 
				path="*" 
				verb="*" 
				modules="FastCgiModule" 
				scriptProcessor="C:\Tools\Python\Python39\python.exe|C:\Tools\Python\Python39\lib\site-packages\wfastcgi.py" 
				resourceType="Unspecified" 
				requireAccess="Script" />
        </handlers>
	<security> 
		<!-- URL 重写中的特殊字符，比如加号+等等 -->
		<requestFiltering allowDoubleEscaping="true"></requestFiltering> 
	</security> 
    </system.webServer>
	
   <appSettings>
	<!-- Required settings -->
	<!-- 在这里指定Falsk app在模块中的具体位置 -->
	<add key="WSGI_HANDLER" value="src.app.wsgi_app" />
	<!-- <add key="PYTHONPATH" value="~/;~/src" /> -->
	<!-- 使用绝对路径，确保IIS能正确找到模块 -->
    <add key="PYTHONPATH" value="C:\inetpub\Flash_CONNECT_DB;C:\inetpub\Flash_CONNECT_DB\src" />

	<!-- 关键：指定 ODBC 驱动路径（根据实际情况调整） -->
    <!-- <add key="PATH" value="%PATH%;C:\Program Files\Microsoft Office\root\Office16\;" /> -->
    <add key="PATH" value="%PATH%;C:\Program Files\Microsoft Office\root\vfs\ProgramFilesCommonX64\Microsoft Shared\OFFICE16\;" />
  	<add key="ODBCINI" value="C:\Windows\ODBC.ini" /> <!-- 系统 ODBC 配置文件路径 -->
  	<add key="ODBCSYSINI" value="C:\Windows" /> <!-- ODBC 系统配置目录 -->
	
	<!-- Optional settings -->
	<!-- 需要先创建日志目录，否则报错 -->
	<!-- wfastcgi系统级日志 - 记录WSGI相关错误 -->
	<add key="WSGI_LOG" value="C:\inetpub\Flash_CONNECT_DB\logs\wfastcgi.log" />
	<!-- 启用详细错误输出 -->
    <!-- <add key="WSGI_STDERR_FILE" value="C:\inetpub\Flash_CONNECT_DB\logs\python_errors.log" /> -->
    <add key="WSGI_STDERR_FILE" value="C:\Temp\python_errors.log" />

	<add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />
    </appSettings>

</configuration>