<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DB Select</title>
</head>
<body>
    <h1>Please Select the Database to be used:</h1>
    <form method="post">
        <p>
            <label>DB Selection</label>
            <select name="DB_Select">
                {% for db_name in DB_List %}
                    {# 设置默认选项 #}
                    {% if DB_List.index(db_name) == 1 %}
                        <option value ="{{db_name}}" selected="selected">{{db_name}}</option>
                    {% else %}
                        <option value ="{{db_name}}">{{db_name}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </p>
        <input type="submit" name="Connect DB">

    </form>
</body>
</html>